__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
.env
*.db
*.db-journal
.pytest_cache/
.ruff_cache/
.pyright/
.mypy_cache/
.coverage
htmlcov/
node_modules/
.DS_Store
solcx/
